# ports 외부:내부
# volumes PC:도커

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./app/caddy:/data
      - ./config/Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - todo-pocketbase
      - squash-helper
      - portainer

  todo-pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: todo-pocketbase
    restart: unless-stopped
    environment:
      # Optional: Configure host and port (defaults: 0.0.0.0:8090)
      PB_HOST: 0.0.0.0
      PB_PORT: 8090
      # 초기 업로드 시 관리자 계정 생성 이후 주석 처리 필수 !
      #PB_ADMIN_EMAIL: [EMAIL_ADDRESS]
      #PB_ADMIN_PASSWORD: [PASSWORD]
    ports:
      - 8090:8090
    volumes:
      - /path/to/todo/data:/pb_data
      - /path/to/todo/public:/pb_public
      - /path/to/todo/hooks:/pb_hooks
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8090/api/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  portainer:
    image: portainer/portainer-ce:alpine
    container_name: portainer
    ports:
      - 8888:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./app/portainer/data:/data

  # Squash Helper
  squash-helper:
    container_name: squash-helper
    image: ghcr.io/inseok9068/squash-helper:release
    restart: unless-stopped
    ports:
      - 8080:8080
