services:
  # # 시계열 데이터베이스
  # prometheus:
  #   container_name: prometheus
  #   image: prom/prometheus
  #   ports:
  #     - 9090:9090
  #   volumes:
  #     - ./app/prometheus:/prometheus
  #     - ./config/prometheus.yml:/etc/prometheus/prometheus.yml

  # # 데이터 시각화 도구
  # grafana:
  #   container_name: grafana
  #   image: grafana/grafana
  #   ports:
  #     - 3000:3000
  #   depends_on:
  #     - prometheus
  #   volumes:
  #     - ./app/grafana:/var/lib/grafana

  # # 로그 수집 서버
  # loki:
  #   container_name: loki
  #   image: grafana/loki
  #   ports:
  #     - 3100:3100
  #   depends_on:
  #     - grafana
  #   volumes:
  #     - ./app/loki:/loki
  #   #   - ./config/loki.yml:/etc/loki/loki.yml
  #   # command: -config.file=/etc/loki/loki.yml

  # # 로그 전달 도구
  # promtail:
  #   container_name: promtail
  #   image: grafana/promtail
  #   depends_on:
  #     - loki
  #   volumes:
  #     - /var/log:/var/log
  #     - ./config/promtail.yml:/etc/promtail/promtail.yml
  #   command: -config.file=/etc/promtail/promtail.yml

  # # AI 모델 서버
  # ollama:
  #   container_name: ollama
  #   image: ollama/ollama
  #   ports:
  #     - 11434:11434
  #   volumes:
  #     - ./app/ollama:/root/.ollama

  # # AI 모델 WEB UI
  # open-webui:
  #   container_name: open-webui
  #   image: ghcr.io/open-webui/open-webui
  #   ports:
  #     - 8282:8080
  #   depends_on:
  #     - ollama
  #   volumes:
  #     - ./app/open-webui:/app/backend/data
  #   extra_hosts:
  #     - host.docker.internal:host-gateway

  # Jaeger 트레이싱 서버
  jaeger:
    container_name: jaeger
    image: jaegertracing/all-in-one
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=:9411
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - 6831:6831/udp
      - 6832:6832/udp
      - 5778:5778
      - 16686:16686
      - 14268:14268
      - 14269:14269
      - 14250:14250
      - 9411:9411
      - 4317:4317
      - 4318:4318
