# ports 외부:내부
# volumes PC:도커

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./app/caddy:/data
      - ./config/Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - pocketbase
      - portainer

  todo-pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: todo-pocketbase
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - /path/to/data:/pb_data
      - /path/to/public:/pb_public
      - /path/to/hooks:/pb_hooks
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8090/api/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 5

  portainer:
    image: portainer/portainer-ce:alpine
    container_name: portainer
    ports:
      - 8888:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./app/portainer/data:/data

  # Squash Helper
  squash-helper:
    container_name: squash-helper
    image: ghcr.io/inseok9068/squash-helper:release
    restart: unless-stopped
    ports:
      - 8080:8080
