{
    # 전역 설정
    email dlstjr9068@gmail.com  # Let's Encrypt SSL 인증서 발급을 위한 이메일 설정
}

# 기본 도메인 (HTTPS 자동 적용)
development-support.o-r.kr {
    reverse_proxy todo-pocketbase:8090
}

kjca.development-support.o-r.kr {
    reverse_proxy kjca-pocketbase:8090
}

squash-helper.development-support.o-r.kr {
    reverse_proxy squash-helper:8080
}
